h1 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.column {
  display: inline-block;
  width: 48%;
}

.col1 {
  background-color: red;
}

.col2 {
  background-color: pink;
}

.title {
  font-size: 35px;
  text-transform: uppercase;
}

.title {
  font-size: 45px;
}

.col1 h1 {
  color: white;
}

#one {
  border: 5px solid black;
}

.col1 img {
  display: none;
}

/**HERO SECTION**/
.hero {
  height: 100vh;
  /*background-image: url("background.jpg");*/
  background-color: yellow;
  background-repeat: no-repeat;
  background-size: cover;
  background: url("background1.jpg") no-repeat cover;
  position: relative;
}

.intro {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
